@font-face {
    font-family: Gilroy-Boid;
    src: url(/text/Gilroy-Bold.woff2);
}

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    scroll-behavior: smooth;
    text-rendering:optimizeSpeed;
    background: #FFFFFF;
}
.container {
    width: 1146px;
    margin: 0 auto;
    display: flex;
}
nav {
    padding-top: 51px;
    padding-bottom: 96px;
}
.menu{
    padding: 51px 0;
    display: flex;
    flex-direction: row;
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #F25822;
}
.black{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.orange{
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #F25822;
}
main{
    padding-top: 164px;
    padding-bottom: 197px;
    display: flex;
}
img {
    display: block;
    max-width: 100%;
}
.im{
    display:flex;
    justify-content: ;
}
h1 {
    padding-bottom: 17px;
    width: 522px;
    height: 222px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}
.button {
    padding-top: 52px;
    
}
button{
    padding: 15px 35px 16px 36px;
    width: 140px;
    height: 50px;
    background: #F25822;
    border-radius: 50px;
    border: 0;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
}
footer {
    padding-top: 97px;
    padding-bottom: 96px;
}
.sect {
    display: flex;
}
p {
    width: 466px;
    height: 48px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}
.lin{
    width: 90px;
    height: 19px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    padding-left: 72px;
}
.foot {
    display: flex;
}
.but {
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
}
.up {
    display: flex;
    justify-content: space-between;
}
.text{
    font-family: Gilroy-Bold;
}